{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  header{
        display: none;
    }
    .list-group{
        display: none;
    }
    .list-group-item{
        display: none;
    }
</style>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <a href="{% url 'base' %}"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
    </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<h3 class="text-center mt-5 mb-5">Просмотр заказа</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Товар</th>
      <th scope="col">Размер</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Итого</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   {% for item in cart.products.all %}
    <tr>
      <th scope="row">{{item.content_object.title}}</th>
      <td class="w-25"><a href="{{ item.content_object.get_absolute_url }}"> <img src="{{item.content_object.image.url}}" alt="" class="img-fluid"> </a></td>
      <td>{{item.content_object.size}}</td>
      <td>{{item.content_object.price}}</td>
      <td style="text-align: center">{{ item.qty }}</td>
      <td>{{item.total_price}} РУБ</td>
      <td></td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan="4"></td>
      <td>Итого: </td>
      <td>{{ cart.total_products }}</td>
      <td><strong>{{ cart.total_price }} РУБ</strong></td>
    </tr>
  </tbody>
</table>
<h3 class="text-center mt-5 mb-5">Форма заказа</h3>
<form action="{% url 'make_order' %}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-success" value="ОПЛАТИТЬ">
</form>
{% endif %}
{% endblock content %}