{% load static %}
<div class="list-group">

    <li class="list-group-item active" aria-current="true">Фильтр</li>

    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        <p>{{obj.name}}</p>
    </label>


    <li class="list-group-item active" aria-current="true">Пол</li>

    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Мужская обувь
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Женская обувь
    </label>

    <li class="list-group-item active" aria-current="true">Сезон</li>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Осень
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Зима
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Лето
    </label>
    <li class="list-group-item active" aria-current="true">Цена</li>
    <li class="list-group-item"
        style="display: flex; justify-content: space-between; align-items: center">
        <div class="col-md-5 mb-3">
            <input type="text" class="form-control" required>
        </div>
        <p> ДО </p>
        <div class="col-md-5 mb-3">
            <input type="text" class="form-control" required>
        </div>
    </li>
</div>
<li class="list-group-item" style="border: none">
    <div class="filter_buttons"
         style="display: flex; justify-content: center; align-items: center; flex-flow: nowrap">
        <button type="button" class="btn btn-success">Применить</button>
        <button type="button" class="btn btn-primary" style="margin-left: 20px">Сбросить</button>
    </div>
</li>