{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $.ajax({
  type: 'GET',
    dataType:"json",
  url: 'api/filter',
  success: function (data, status, xhr) {
    console.log('data: ', data);
    //your logic
  }
});
</script>
<style>
 .filter_buttons{
     display: flex;
     flex-flow: column;
 }
 .list-group-item.active{
     background-color: #198754;
     border: 1px solid #198754;
 }
 .list-group{
     border-radius: 0px;
 }
</style>

<form id="frm-filtr"  method="GET" action="." style="display: table-caption; margin: 20px;">
    <div class="list-group">

        <li class="list-group-item active" aria-current="true">Фильтр</li>
        {% for ct in categories %}
        <label class="list-group-item">
            <input class="form-check-input me-1" name="category_chk" type="checkbox" value="{{ct.name}}">
            {{ct.name}}
        </label>
        {% endfor %}

        <li class="list-group-item active" aria-current="true">Пол</li>
        {% for gen in gender %}
        <label class="list-group-item">
            <input class="form-check-input me-1" name="gender_chk" type="checkbox" value="{{gen.name}}">
            {{gen.name}}
        </label>
        {% endfor %}

        <li class="list-group-item active" aria-current="true">Сезон</li>
        {% for season in season %}
        <label class="list-group-item">
            <input class="form-check-input me-1" name="season_chk" type="checkbox" value="{{season.name}}">
            {{season.name}}
        </label>
        {% endfor %}


        <li class="list-group-item active" aria-current="false">Цена</li>
        <li class="list-group-item"
            style="display: flex; justify-content: space-between; align-items: center">
            <div class="col-md-5 mb-3">
                <input type="text" class="form-control" name="min_price" placeholder="0">
            </div>
            <p> ДО </p>
            <div class="col-md-5 mb-3">
                <input type="text" class="form-control" name="max_price" placeholder="20000">
            </div>
        </li>
    </div>
    <li class="list-group-item" style="border: none">
        <div class="filter_buttons"
             style="display: flex; justify-content: center; align-items: center; flex-flow: column">
            <button type="submit" class="btn btn-success" style="border-radius: 0px">Применить</button>
            <a href="{% url 'base' %}" type="reset" class="btn btn-primary" style="margin-top: 10px; border-radius: 0px">Сбросить</a>
        </div>
    </li>
</form>
