{% extends 'base.html' %}
{% block content %}
<style>
    header{
        display: none;
    }
</style>
<div class="row">
    <div class="col mb-4">
        <div class="col mb-3">
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid" height="500" width="500">
        </div>
    </div>
    <div class="col mb-8">
        <h3>{{ product.title }}</h3>
        <p>Цена: {{ product.price }} РУБ.</p>
        <p>Описание: {{ product.description }}</p>
         <a class="btn btn-outline-success">
            {{ product.gender }}
        </a>
        <a class="btn btn-outline-primary" >
            {{ product.season }}
        </a>
        <a class="btn btn-outline-secondary">
            {{ product.category }}
        </a>
    </div>
</div>

{% endblock content %}
