{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    header{
        display: none;
    }
    .list-group{
        display: none;
    }
    .list-group-item{
        display: none;
    }
    a{
        margin: 3px;
    }
    h3{
        display: none;
    }
    footer{
        margin-top: 170px;
    }
    .select{
        size: 200px;
    }
</style>
<div class="row">
    <div class="col mb-4">
        <div class="col mb-3">
            <img src="{{ product.image.url }}" alt="{{ product.title }}"  class="img-fluid" height="500" width="500">
            {% if product.image2 %}
            <img src="{{ product.image2.url }}" alt="{{ product.title }}"  class="img-fluid" height="500" width="500">
            {% endif %}
            {% if product.image3 %}
            <img src="{{ product.image3.url }}" alt="{{ product.title }}"  class="img-fluid" height="500" width="500">
            {% endif %}
        </div>
    </div>
    <div class="col mb-8">
        <h3>{{ product.title }}</h3>
        <p>Цена: {{ product.price }} РУБ.</p>
        <p>Описание: {{ product.description }}</p>
        <div class="tags" style="max-width: 270px">
             <a class="btn btn-outline-success">
                {{ product.gender }}
            </a>
            <a class="btn btn-outline-primary" >
                {{ product.season }}
            </a>
            <a class="btn btn-outline-secondary">
                {{ product.category }}
            </a>
            {% if product.action %}
            <a class="btn btn-danger">
                {{ product.action }}
            </a>
            {% endif %}
            <form action="" method="post">

<!--            {{ form|crispy}}-->
            </form>
        </div>
        <br>
        <a class="btn btn-success" style="border-radius: 0px" href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug%}">ДОБАВИТЬ В КОРЗИНУ</a>
    </div>
</div>

{% endblock content %}
